<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite">
    <test name="UnitTest">
        <classes>
            <class name="tests.CalculatorDivisionTest">
                <methods>
                    <include name="testDivInt"/>
                </methods>
            </class>
            <class name="tests.DataProviderTest"/>
        </classes>
    </test>
</suite>